.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 530px;
}

.square {
    border: 1px solid black;
    height: 30px;
    width: 30px;
}

body {
    display: flex;
    justify-content: center;
}