.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 530px;
    margin-top: 50px;
}

.square {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    min-height: 4px;
    min-width: 4px;
    flex: auto;
}

.grid {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
}